$space-large: 2.5rem;
$title-color: #065580;
.page-title{
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
  font-weight: bold;
}

input[type="search"]{
  box-shadow: none;
}

li.menu-text{
  color: $title-color;
}
